@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.users-list {
    @include mixins.root-container-centered;
    @include mixins.secondary-font;
    padding: 20px;

    .add-user {
        @include mixins.primary-button;
    }

    .users {
        border-top: 1px solid variables.$header-border-color;
        margin-top: 20px;
    }
}