@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.edit-message {
    @include mixins.secondary-font;
    width: 650px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);

    .header-to-modal {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        border-bottom: 1px solid variables.$header-border-color;

        .edit-message-close {
            margin-left: auto;

            &:hover {
                cursor: pointer;
            }
        }
    }
    .edit-message-body {
        padding: 20px;

        .edit-message-input {
            width: 100%;
        }
        .edit-message-button {
            @include mixins.primary-button;
            margin-top: 20px;
        }
    }
}