@use './variables.scss' as variables;

// fonts
@mixin secondary-font {
    font-family: Arial, serif;
    font-size: 14px;
    color: variables.$color-secondary;
}
@mixin header-title-font {
    font-family: Arial, serif;
    font-size: 20px;
}
@mixin message-text-font {
    font-family: Arial, serif;
    font-size: 14px;
}
@mixin message-info-font {
    font-family: Arial, serif;
    font-size: 12px;
}
@mixin input-text-font {
    font-family: Arial, serif;
    font-size: 14px;
}
@mixin input-button-font {
    font-family: Arial, serif;
    font-size: 12px;
}
@mixin divider-font {
    font-family: Arial, serif;
    font-size: 12px;
}
@mixin login-header-font {
    font-family: Arial, serif;
}
@mixin button-font {
    font-family: Arial, serif;
    font-size: 14px;
}
@mixin login-forgot-font {
    font-family: Arial, serif;
    font-size: 12px;
}


//containers {
@mixin root-container-centered {
    max-width: 900px;
    margin: 0 auto;
}

//image-wrap
@mixin image-circle-wrap($width, $height) {
    width: $width;
    height: $height;
    border-radius: 50%;
    overflow: hidden;
  
    img {
      height: 100%;
      width: 100%;
    }
}

// buttons 
@mixin primary-button {
    @include button-font;
    padding:10px;
    background-color: variables.$input-background-color-primary;
    border-radius: 3px;
    border: none;
    color: white;

    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 6px 0px rgba(39, 135, 245, 0.8);
    }
}
@mixin secondary-button {
    @include button-font;
    padding:10px;
    background-color: variables.$input-background-color-secondary;
    border-radius: 3px;
    border: none;
    color: #8E9CB2;

    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 6px 0px rgba(162, 177, 194, 0.8);
    }
}

// other 
@mixin message-base {
    max-width: 50%;
    display: flex;
    align-items: center;
    position: relative;
}