@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .form-container {
        max-width: 350px;
        max-height: 350px;

        h1 {
            @include mixins.login-header-font;
            margin-bottom: 30px;
            color: variables.$input-text-color-primary;
        }

        .login-form {
            width: 350px;
            border-radius: 10px;
        }

        input {
            @include mixins.input-text-font;
            display: block;
            width:100%;
            height:45px;
            padding:10px;
            border-radius:3px;
            margin:10px 0;
            background-color: variables.$input-background-color-secondary;
            color: variables.$input-text-color-secondary;
            border: none;

            &:focus {
                color: variables.$input-text-color-primary;
                outline: none;
            } 
        }
        
        .input-button {
            @include mixins.primary-button;
            width: 100%;
            height:45px;
        }
        .forgot-password {
            @include mixins.login-forgot-font;
            padding: 10px;
            margin: 8px 0;
            color: variables.$input-text-color-secondary;
        }
        .login-warning {
            @include mixins.login-forgot-font;
            padding-left: 10px;
            color: variables.$login-warning-text-color;
        }
    }
}