@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.message {
    @include mixins.message-base;

    .one {
        align-self: end;
        padding-bottom: 20px;
        .img-container{
            @include mixins.image-circle-wrap(45px, 45px);
        }
    }
    .two {
        flex-grow: 1;
        padding: 20px;
        padding-right: 12px;

        .message-text {
            @include mixins.message-text-font;
            padding: 20px;
            margin: 0;
            margin-bottom: 6px;
            color: variables.$message-text-color-secondary;
            background-color: variables.$message-text-background-secondary;
            border-radius: 12px;
        }

        .message-info {
            display: flex;
            padding: 0 16px;
            @include mixins.message-info-font;
            color: variables.$message-text-color-secondary;

            .message-time {
                margin-left: auto;
            }
        }

        
    }


    .three {
        display: none;
        position: absolute;
        right: -10px;
    }
    
    &:hover .three {
        display: block;
        cursor: pointer;
    }
}